<h1><%= @list.title %></h1>
<% @list.books.each do |book| %> 
    <%= link_to book.title, book_path(book)%> - <%= link_to 'Delete', list_book_path(@list.id, book.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %> <br>

<% if is_authorized(@list) %>
    <%= link_to "Edit List", edit_list_path(@list) %> 
 
    <%= form_tag list_path(@list), method: "delete" do %>
        <%= submit_tag "Delete This List" %>
    <% end %>
<%end%>

