<div class="title-container">
    <h1><%= @list.user.username%> < Lists < "<%= @list.title %>"</h1>
    <div class="user-actions">
        <% if policy(@list).update? && policy(@list).destroy? %>
            <%= link_to "Edit List", edit_list_path(@list), class: "btn btn-primary" %>
            <%= form_tag list_path(@list), method: "delete" do %>
                <%= submit_tag "Delete List",  class: "btn btn-primary" %>
            <% end %>
        <%end%>
    </div>
</div>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Books</th>
    <th scope="col">Cover</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Genre</th>
    <th scope="col">Synopsis</th>
    <th scope="col">Average Rating</th>
    <th scope="col">Rating</th>
    <th scope="col"></th>
    <th scope="col"></th>
    </tr>
 </thead>
  <% @list.books.each do |b| %>
    <%= render partial: 'lists/table', locals: {book: b, list: @list} %>
  <%end%>
