
<%= form_for user do |f| %> 
    <%= f.label :name %> 
    <%= f.text_field :name %><br>

    <%= f.label :username %> 
    <%= f.text_field :username %><br>

    <%= f.label :email %> 
    <%= f.text_field :email %><br> 
    
    <%= f.label :password %> 
    <%= f.password_field :password %><br> 
    
    <div>
    <% if user.image.attached? %>
        <%= image_tag user.image, style: "width: 200px; display: block" %> 
    <%end%>
    </div>

    <%=f.label :image %>
    <%=f.file_field :image %>

    <%= f.submit %>

<%end%>