<% if logged_in? %>
    <% if current_user.username != nil %>
        <h1>You are signed in as <%= current_user.username %></h1>
    <%else%>
        <h1>You are signed in as <%= current_user.name %></h1>
    <%end%>
        <div><img src="<%= @user.image %>"></div>
<%else%> 
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>

    <% if @user.lists.empty? %>
        <%=@user.username%> has no lists yet.
    <%else%>
        
    <h2><%= @user.username%>'s Lists</h2>
        <div class = "lists">
            <% @user.lists.each do |list| %>
                <%= link_to list.title, user_list_path(@user, list) %><br>
            <% end %> 
        <%end%>
    </div>

    <% if @user == current_user %> 
    <%= link_to "New List", new_user_list_path(@user, @list) %><br> 
    <%= link_to "Edit Profile", edit_user_path(@user) %>
    <%end%>