<% if !logged_in? %>
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
<% if !@user.image.nil? %>
<div><img src="<%= @user.image %>"></div>
<%end%>

    <% if @user.lists.empty? %>
        <%=@user.username%> has no lists yet.
    <%else%>
    
    <% if @user == current_user %>
        <h2><%= @user.username%> < My Lists</h2>
    <% else %> 
        <h2><%= @user.username%>'s < Lists</h2>
    <%end%>
        <div class = "lists">
            <% @user.lists.each do |list| %>
                <%= link_to list.title, user_list_path(@user, list) %><br>
            <% end %> 
        <%end%>
    </div><br>

    <% if @user == current_user %> 
    <%= link_to "Create New List", new_user_list_path(@user, @list) %><br> 
    <%= link_to "Edit Profile", edit_user_path(@user) %>
    <%end%>