<% if logged_in? %>
    <% if @user.username != nil %>
        <h1>Welcome <%= @user.username %>, You are signed in!</h1>
    <%else%>
        <h1>Welcome <%= @user.name %>, You are signed in!</h1>
    <%end%>
    <img src="<%= @user.image %>">
<%else%> 
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>

<% if current_user.lists.empty? %>
    You have no lists yet.
    <%= link_to "New List", new_user_list_path(@user, @list) %>
<%else%>
<h2>Your Lists</h2>
<% @user.lists.each do |list| %>
    <%= link_to list.title, user_list_path(@user, list) %>
    
<% end %> 
<%end%>