<div class="title-container">
    <% if @user == current_user %>
      <h2>Your Lists</h2>
    <%end%>
</div>
    <% if @user == current_user %>
        <% if @user.lists.empty? %> 
          You have no lists yet. 
        <%else%> 
          <%= render "list" %>
        <%end%>
      
      <div class="user-actions">
        <%= link_to "Create New List", new_user_list_path(@user, @list), class: "btn btn-primary" %><br> 
        <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
      </div>

    <% else %> 
        <h2><%= @user.username%>'s Lists</h2>
          <% if @user.lists.empty? %> 
            <%= @user.username%> has no lists yet. 
          <%else%> 
          <%= render "list" %>
        <%end%>
      
    <%end%>

