<% if session[:user_id] %>
    <h1>Welcome <%= @user.username %>, You are signed in!</h1> 
    <img src="<%= @user.image %>">
<%else%> 
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>

<% if @user.lists.empty? %>
    You have no lists yet.
    <%= link_to "Create a Book List", new_user_list_path %>
<%else%>
<h2>Your Lists</h2>
<% @user.lists.each do |list| %>
    <%= link_to list.title, user_list_path(list) %>
    
<% end %> 
<%end%>