

<h2>by <%= book.author %></h2>
<% if book.reviews.present? %> 
  <h4> Average Rating: <%= book.average_rating %> | <%= stars(book.average_rating) %></h4>
<%end%> 
Genre:  <%= link_to book.genre.name, genre_path(book.genre) %><br>
Synopsis: <%= truncate(book.synopsis, length: 300) %><br>
</div>