<tbody>
<tr>
  <th scope="row"></th>
  <td><img src=<%= book.image_url%>></td>
  <td><%= link_to truncate(book.title), book_path(book) %></%></td>
  <td><%= book.author %></td>
  <td><%if book.genre%>
  <%= link_to book.genre.name, genre_path(book.genre) %>
  <%end%></td>
  <td><%= truncate(book.synopsis, length: 300) %></td>
  <td><%= book.average_rating %></td>
  <td><%= stars(book.average_rating) %></td>
  <td><%= link_to "Write a Review", new_book_review_path(book), class: "btn btn-primary"  %></td>
  <td><%= link_to "Add to List", book_path(book), class: "btn btn-primary"  %></td>
 
</tr>
</tbody>

