<div class="title-container">
  <div class="search">
    <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter a Title or Author"  %> 
      <%= select_tag "genre", options_from_collection_for_select(@genres, "id", "name"), include_blank:  'Select Genre' %>
      <%= submit_tag ("Search"), class: "btn btn-default" %> 
    <%end%> 
    
  </div>
  <% if admin? %>
    <div class="admin">
      <%= link_to "Add a New book", new_book_path, class: "btn btn-default" %>
      <%= link_to "Add a New genre", new_genre_path, class: "btn btn-default" %> 
    <%end%>
  </div>
</div>

</div>


<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Books</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Genre</th>
    <th scope="col">Synopsis</th>
    <th scope="col">Average Rating</th>
    <th scope="col">Rating</th>
    </tr>
 </thead>
  <% @books.each do |b| %>
    <%= render partial: 'table', locals: {book: b} %>
  <%end%>
