
<h3>Search Books</h3>
<%= form_tag books_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter a Title or Author"  %> 
  <%= submit_tag ("Search") %> 
<%end%> <br>
 
  <% if @books.empty? %> 
    <div>We cannot find a book or author by that name.</div>
  <%else%>  
    <% @books.each do |b| %>
    <%= render partial: 'books', locals: {book: b} %>
  <%end%>
<% end %> 


<%= link_to "Add a New book", new_book_path %> <br> 
