
<h3>Search Books</h3>
<%= form_tag books_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter a Title or Author"  %> 
  <%= submit_tag ("Search") %> 
<%end%> <br>

<div>

  <h3>Filter books:</h3>
  <%= form_tag("/books", method: "get") do %>
    <%= select_tag "genre", options_from_collection_for_select(@genres, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div><br>
 
  <% if @books.empty? %> 
    <div>We cannot find a book or author by that name.</div>
  <%else%>  
    <% @books.each do |b| %>
      <strong>Title:</strong><%= link_to b.title, book_path(b) %><br>
    <%= render partial: 'books', locals: {book: b} %>
    <%= link_to "See more", book_path(b) %><br><br>
  <%end%>
<% end %> 


<%= link_to "Add a New book", new_book_path %> <br> 
