<h1><%=@book.title%></h1>
<div>
Author: <%=@book.author %></h3><br>
Genre: <%=@book.genre.name%></h4><br>
</div
<div>
    <p>Synopsis:<br>
    <%=@book.synopsis%></p>
</div>


<%=form_for @book do |f| %>
    <%= f.collection_select :lists, current_user.lists, :id, :title, {:prompt => 'Add this Book to a List' } %> 
    <%= f.submit "Add to List" %>
<%end%><br>


<%= link_to "Write a Review", new_book_review_path(@book) %> 
<h3>Reviews</h3> 
<%= @book.reviews.count %> reviews<br>

<% @book.reviews.each do |review| %> 
    <strong><%= review.user.username %></strong> rated it <%= review.stars %> stars - <%=review_date(review.created_at)%><br>
    <%= review.content %><br> 
    <% if review.user == current_user %> 
        <%= button_to "Delete Review", review_path(review), method: :delete, data: { confirm: "Are you sure?"} %>
    <%end%><br>
<%end%>


