<h1><%=@book.title%></h1>
<div>
Author: <%=@book.author %></h3><br>
Genre: <%=@book.genre.name%></h4><br>
</div
<div>
    <p>Synopsis:<br>
    <%=@book.synopsis%></p>
</div>


<%=form_for @book do |f| %>
    <%= f.collection_select :lists, current_user.lists, :id, :title, {:prompt => 'Add this Book to a List' } %> 
    <%= f.submit "Add to List" %>
<%end%><br>

<div class="review-form">
<h4>Add a Review</h4>
<%= form_for [@book, Review.new] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :book_id, value: @book.id%>
    
    <%= f.label :title %> <br>
    <%= f.text_field :title %><br> 

    <%= f.label :content %> <br>
    <%= f.text_area :content %> <br>

    <%= f.label :stars, "Rating (1-5)" %><br> 
    <%= f.number_field :stars, :in => 1..5 %> <br>

    <%= f.submit "Add Review" %>
<%end%>
</div>

<h3>Reviews</h3> 
<%= @reviews.count %> reviews<br>

<% @reviews.each do |review| %> 
    <strong><%= review.user.username %></strong> rated it <%= review.stars %> stars: <br> 
    Review: <%= review.title %><br>
    <%= review.content %><br> 
    <% if review.user == current_user %> 
        <%= button_to "Delete Review", review_path(review), method: :delete, data: { confirm: "Are you sure?"} %>
    <%end%><br>
<%end%>


