<%= render "errors/error", model: @review %>
<div class="review-form">
<%= form_for [book, review] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :book_id, value: book.id%>
    
    <div class="form-group">
    <%= f.label :content, "What did you think?" %>
    <%= f.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :stars, "Rate 1-5 Stars" %>
    <%= f.number_field :stars, :in => 1..5, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-primary" %>
<%end%>
</div>
