

<h2>Edit Review for <%=link_to @review.book.title, book_path(@review.book)%></h2>
<div class="review-form">
<%= form_for @review do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :book_id, value: @review.book.id%>
    <%= f.label :content, "What did you think?" %> <br>
    <%= f.text_area :content %> <br>

    <%= f.label :stars, "Rating (1-5)" %><br> 
    <%= f.number_field :stars, :in => 1..5 %> <br>

    <%= f.submit %>
<%end%>
</div>
