<h1><%= @book.title %></h1>
by <%= @book.author %><br> 

<h3>Reviews</h3> 
<%= @reviews.count %> reviews<br>

<% @reviews.each do |review| %> 
    <strong><%= review.user.username %></strong> rated it <%= review.stars %> stars: <br> 
    Review: <%= review.title %><br>
    <%= review.content %><br> 
    <% if review.user == current_user %> 
        <%= button_to "Delete Review", review_path(review), method: :delete, data: { confirm: "Are you sure?"} %>
    <%end%>
<%end%>





