<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PageTurners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  
  <header class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "PageTurners", root_path, class: "navbar-brand" %>
       </div>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %> 
          <li><%= link_to current_user.username, user_path(current_user) %></li>
            <li><%= link_to "Books", books_path %></li>
            <li><%= link_to "Community", users_path %></li>
            <li><%= link_to "Genres", genres_path %></li>
            <li><%= link_to "Recommended", recommended_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>
        <%else%>
            <li><%= link_to "Sign Up", new_user_path%></li>
            <li><%= link_to "Login", login_path%></li>
        <%end%>
      </ul>
    </div>
   </nav>
   </header>
        

<section class="container">
  <div id="flash">
    <% flash.each do |k, v| %>
      <div class="flash alert <%= alert_class(k) %>"><%= v %></div>
    <% end %>
  </div>
  <%= yield %>
</section>


  </body>
</html>
